bittensor==7.4.0
huggingface_hub==0.22.2
joblib
loguru
numpy
pandas
pandas_market_calendars
pydantic
python_dotenv
pytz
scikit_learn
setuptools
ta
tensorflow==2.17.0
torch
wandb==0.16.6
yfinance==0.2.37
