bittensor==8.5.1
huggingface_hub==0.22.2
loguru
numpy
pandas
pandas_market_calendars
psycopg
pydantic
python_dotenv
pytz
rich
scikit_learn
setuptools
starlette
statsmodels
ta
template
tensorflow==2.18.0
torch
transformers
wandb==0.19.1
yfinance==0.2.37
